body {
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
}

a:link, a:visited {
    text-decoration: none;
    color: green;
}

header {
    background-color: green;
    height: 100px;    
    font-size: 20px;
    text-align: center;
    width: 100%;
}

nav {
    height: 40px;
    width: 100%;
    background-color: #ccc;
    display: block;
}

nav ul {
    list-style-type:none;
}

nav li {
    display:inline;
}

article {
    float:left;   /* This line was used to fill the gap*/
    padding-bottom: 60px;
    width: 100%;
    background-color: #eee;
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: green;
    width: 100%;
    text-align: center;
}



