{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
    <h1>{{ welcome_msg }}</h1>
{% endblock %}



{% block body %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="#">Posts</a></li>
    </ul>
    <h3>devlog made by Joonsang Jo</h3>
    <nav>
        <!-- Wanna set this menu dynamically by python variables. -->
        <p>navigation</p>
        <li>markdown</li>>
    </nav>
    <section>
        {{ markdown_file|safe }}
    </section>
{% endblock %}
