<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Joonsang Jo's devlog </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h2>Joonsang's devlog</h2>
    </header>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="#">Posts</a></li>
    </nav>
    <article>
        <!-- Wanna set this menu dynamically by python variables. -->
        {{ markdown_file|safe }}
    </article>

<footer>
    <p>footer</p>
</footer>

</body>
</html>


